body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: #121212;
    color: #fff;
}

input, button {
    display: block;
    width: 200px;
    margin: 8px 0;
    padding: 10px;
}

a {
    color: #4fa3ff;
    cursor: pointer;
}

.app-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    background: #1f1f1f;
    width: 240px;
    padding: 20px;
    border-right: 2px solid #2a2a2a;
}

.sidebar h2 {
    margin-bottom: 15px;
}

#project-list li {
    background: #292929;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: pointer;
    color: #eee;
}

#project-list li:hover {
    background: #3a3a3a;
}

#add-project-btn, .logout {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background: #007bff;
    border: none;
    color: #fff;
    border-radius: 6px;
}

.logout {
    background: #ff4141;
}

.main-content {
    flex: 1;
    padding: 40px;
    color: #fff;
}

#task-list li {
    background: #292929;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.task-checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.task-text {
    flex: 1;
}

.completed .task-text {
    text-decoration: line-through;
    opacity: 0.6;
}

.delete-btn {
    background: #ff4141;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    border: none;
}
